#textdomain wesnoth-Invasion_from_the_Unknown

#define PLAYER_RISE_UP_EXCLUSION_LIST
	[not]
		description=Galas
	[/not]
	[not]
		description=Mal Keshar
	[/not]
	[not]
		description=Althurin
	[/not]
	[not]
		description=Elynia
	[/not]
	[not]
		description=Analia
	[/not]
	[not]
		description=Igor
	[/not]
	[not]
		description=King Asthorgar
	[/not]
	[not]
		description=Erathan
	[/not]
	[not]
		[wml_filter]
			undead_variation=null
		[/wml_filter]
	[/not]
	[not]
		[wml_filter]
			[status]
				not_living=yes
			[/status]
		[/wml_filter]
	[/not]
#enddef

#define PLAYER_RISE_UP
	[event]
		name=die
		first_time_only=yes
		[filter]
			side=1
			{PLAYER_RISE_UP_EXCLUSION_LIST}
		[/filter]
		[filter_second]
			[not]
				#Basically not any type that has plague or eats its victim
				type=Walking Corpse,Soulless,Alt Necromancer,Necromancer,Ghoul_C,Necrophage_C,Ghast
			[/not]
		[/filter_second]
		{DEATHS_SUB_NOTSTONED_BEGIN}
		[if]
			[have_unit]
				description=Mal Keshar
				side=1
			[/have_unit]
			[then]
				[message]
					speaker=Mal Keshar
					message= _ "Rise, rise from the ground!"
				[/message]
			[/then]
		[/if]
		{DEATHS_SUB_NOTSTONED_END}
	[/event]
	[event]
		name=die
		first_time_only=no
		[filter]
			side=1
			{PLAYER_RISE_UP_EXCLUSION_LIST}
		[/filter]
		[filter_second]
			[not]
				#Basically not any type that has plague or eats its victim
				type=Walking Corpse,Soulless,Alt Necromancer,Necromancer,Ghoul_C,Necrophage_C,Ghast
			[/not]
		[/filter_second]
		{DEATHS_SUB_NOTSTONED_BEGIN}
		[if]
			[have_unit]
				description=Mal Keshar
				side=1
			[/have_unit]
			[then]
				[sound]
					name=zombie-attack.wav
				[/sound]
				[unit]
					# This will look pretty good as soon as BfW has recruit animations for WCs :)
					animate=yes
					attacks_left=0
					type=Walking Corpse
					x=$unit.x
					y=$unit.y
					# Allows for any future updates to the current undead availability=musthave traits
					random_traits=yes
					moves=0
					resting=no
					side=1
					user_description=$unit.user_description
					facing=$unit.facing
					#gender=$unit.gender
					variation=$unit.undead_variation
				[/unit]
			[/then]
		[/if]
		{DEATHS_SUB_NOTSTONED_END}
	[/event]
#enddef

#define DEATHS_COMMON
	[event]
		name=die
		[filter]
			description=Eela
			side=1
		[/filter]
		[message]
			speaker=unit
			message= _ "Thisss is a gloriousss death... for peacee!!!"
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			description=Xargasze
			side=1
		[/filter]
		[message]
			speaker=unit
			message= _ "My death ssshall be only the beginning of your dessstruction, fiendsss!"
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			description=Zeethalius
			side=1
		[/filter]
		[message]
			speaker=unit
			message= _ "I die, for honor!!!"
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			description=Althurin
			side=1
		[/filter]
		[message]
			speaker=unit
			message= _ "Well, at least I tried... *ugh*"
		[/message]
		#[message]
		#	speaker=Galas
		#	message= _ "Althurin! No! Who will guide us in the darkness now?"
		#[/message]
		{ENDLEVEL_DEFEAT}
	[/event]

	[event]
		name=die
		[filter]
			description=Erathan
			side=1
		[/filter]
		[message]
			speaker=unit
			message= _ "I am finished..."
		[/message]
		{ENDLEVEL_DEFEAT}
	[/event]

	[event]
		name=die
		[filter]
			description=Igor
		[/filter]
		[if]
			# This condition is the closest I could think of to detect the current scenario number
			[have_unit]
				description=Elynia
			[/have_unit]
			[then]
				[message]
					speaker=unit
					message= _ "Alas. It's been my best time with thee, friends..."
				[/message]
				[message]
					speaker=Mal Keshar
					message= _ "He he he..."
				[/message]
				[message]
					speaker=Elynia
					message= _ "No! Don't do it"
				[/message]
				[message]
					speaker=Mal Keshar
					message= _ "Um... okay. May I ask you why?"
				[/message]
				[message]
					speaker=Elynia
					message= _ "He has been a great help for us this far. I'd prefer not to disturb his death by rising his corpse to fight again."
				[/message]
				[message]
					speaker=Mal Keshar
					message= _ "As you wish, lady. Hmph."
				[/message]
			[/then]
			[else]
				[message]
					speaker=unit
					message= _ "Thee failed to protect me. Aargh..."
				[/message]
				[store_unit]
					[filter]
						x,y=$x1,$y1
					[/filter]
					kill=yes
					variable=necro_store
				[/store_unit]
				[sound]
					name=zombie-attack.wav
				[/sound]
				[unit]
					# This will look pretty good as soon as BfW has recruit animations for WCs :)
					animate=yes
					type=Walking Corpse
					x=$necro_store.x
					y=$necro_store.y
					upkeep=$necro_store.upkeep
					random_traits=yes
					moves=0
					resting=no
					side=1
					user_description=$necro_store.user_description
					facing=$necro_store.facing
					variation=$necro_store.undead_variation
				[/unit]
			[/else]
		[/if]
	[/event]

	[event]
		name=die
		[filter]
			description=Elynia
		[/filter]
		[message]
			speaker=unit
			message= _ "The darkness... it is taking me away..."
		[/message]
		[message]
			speaker=Galas
			message= _ "Nooo! Elynia!"
		[/message]
		{ENDLEVEL_DEFEAT}
	[/event]

	[event]
		name=die
		[filter]
			description=Analia
		[/filter]
		[message]
			speaker=unit
			message= _ "That hurts... *ugh*"
		[/message]
		{ENDLEVEL_DEFEAT}
	[/event]
	
	[event]
		name=die
		[filter]
			description=Galas
		[/filter]
		[message]
			speaker=unit
			message= _ " *Argh* I'm... defeated..."
		[/message]
		{ENDLEVEL_DEFEAT}
	[/event]

	[event]
		name=die
		[filter]
			description=Mal Keshar
		[/filter]
		[message]
			speaker=unit
			message= _ "Destroyed by these foul enemies... it should not have ended like this..."
		[/message]
		{ENDLEVEL_DEFEAT}
	[/event]

	[event]
		name=die
		[filter]
			description=King Asthorgar
		[/filter]
		[message]
			speaker=unit
			message= _ "Argh! This is the end for me."
		[/message]
		[message]
			speaker=Galas
			message= _ "The dwarven King has died! How did we let such a thing happen?"
		[/message]
	[/event]

	{PLAYER_RISE_UP}
#enddef

#define DEATHS_END
	[event]
		name=die
		[filter]
			description=Elynia
		[/filter]
		[message]
			speaker=unit
			message= _ "I have fallen. Hopefully you can finish our journey without me..."
		[/message]
		{ENDLEVEL_DEFEAT}
	[/event]

	[event]
		name=die
		[filter]
			description=Galas
		[/filter]
		[message]
			speaker=unit
			message= _ "No! I have much left to do yet..."
		[/message]
		{ENDLEVEL_DEFEAT}
	[/event]

	[event]
		name=die
		[filter]
			description=Mal Keshar
		[/filter]
		[message]
			speaker=unit
			message= _ "So close to put an end to this nightmare..."
		[/message]
		{ENDLEVEL_DEFEAT}
	[/event]

	[event]
		name=die
		[filter]
			description=Erathan
			side=1
		[/filter]
		[message]
			speaker=unit
			message= _ "So this is the end of the story for me..."
		[/message]
		{ENDLEVEL_DEFEAT}
	[/event]

	[event]
		name=die
		[filter]
			description=Igor
		[/filter]
		[message]
			speaker=unit
			message= _ "I wish I could finish this with you, friends..."
		[/message]
	[/event]

	{PLAYER_RISE_UP}

	[event]
		name=die
		[filter]
			description=Eela
			side=1
		[/filter]
		[message]
			speaker=unit
			message= _ "Ahhh. I may fall, but the othersss ssshall ssstill ssstand!"
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			description=Xargasze
			side=1
		[/filter]
		[message]
			speaker=unit
			message= _ "Oh, I'll come back to haunt you, fiendsss!"
		[/message]
	[/event]

	[event]
		name=die
		[filter]
			description=Zeethalius
			side=1
		[/filter]
		[message]
			speaker=unit
			message= _ "Thisss isss a gloriousss death, for honor!"
		[/message]
	[/event]
#enddef
